<div class="select-pictures">
  <form enctype="multipart/form-data" id="send-image" action="/" method="post">
    <input type="file" id="file" name="file"/>
    <button type="submit" id="start">Распознать текст</button>
  </form>
</div>

<div class="text-wrapper">
  <select name="voices" class="voices"></select>
  <button class="play hidden">Озвучить</button>
  <button class="stop hidden">Остановить</button>
  <div>
    <textarea name="text" id="text" class="text"></textarea>
  </div>
</div>
