.container {
  display: flex;
}

.select-pictures {
  width: 20%;
  margin-right: 5%;
}

#log,
#text-container {
  min-height: 200px;
  border: 1px solid #eee;
}


.text-wrapper {
  margin-top: 20px;
}

.text {
  margin-top: 20px;
  width: 400px;
  min-height: 200px;
  resize: none;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}
